#chatThrob {
  display: none;
  position: absolute;
  bottom: 40px;
  font-size: 12px;
  width: 150px;
  height: 40px;
  right: 20px;
  z-index: 1000;
  color: rgb(39, 39, 39);
  background-color: rgb(236, 236, 236);
  background-color: rgba(236, 236, 236, 0.7);
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#chatText {
  -ms-overflow-y: scroll;
  overflow-y: scroll;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 40px;
}
#chatText p {
  padding: 3px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  word-wrap: break-word
}
#chatText .emoji {
  vertical-align: middle;
}
#chatText .authorName {
  text-decoration: none;
  color: #BBB
}
#chatCounter {
  color: #777;
  font-size: 10px;
  vertical-align: middle;
}
.chattime {
    font-size: smaller;
    color: #AAA;
    float: right;
}
