.share .bk-container{
    padding: 10px 15px 15px 15px;
}

.share label{
    font-family : Arial;
    font-size : 12px;
    color: #f1f1f1;
    margin : 0 5px 0 0;
    display: block;
    vertical-align: bottom;
}

.share .members{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid #222;
    box-shadow: 1px 1px rgba(255,255,255,0.06), inset 1px 1px rgba(255,255,255,0.06);
    overflow: hidden;
    position: relative;
    height: 160px !important;
    margin-bottom: 10px;
    border-radius: 3px;
}
.share .members .hover{
    background: #333333;
}

.share blockquote{
    position : relative;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px rgba(255, 255, 255, 0.06), 1px 1px rgba(255, 255, 255, 0.06) inset;
}
.share blockquote.invite{
    margin: 0;
    padding: 10px 15px 15px 15px;
}
.share blockquote.links{
    margin: 10px 0 0 0;
    padding: 10px 15px 10px 15px;
}

.share .access_control.standalone{
    position: absolute;
    right: 100px;
    top: 55px;
}

.share .link{
    background : rgba(255,255,255,0.05);
    padding : 3px 3px 3px 4px;
    border-radius: 3px;
    width: 221px;
    margin-bottom: 4px;
    border: 1px solid rgb(27, 27, 27);
    box-shadow: 0 1px rgba(255, 255, 255, 0.09);
    color: #AAA;
    cursor: text;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.share .link:hover{
    text-decoration: underline;
}

.share .subhead {
    display: inline-block;
    width: 70px;
    color: gray;
}